:root {
  --red: #CB997E;
  --beige: #EDDCD2;
  --green: #A5A58D;
  --blue: #B9C7DC;
  --white: #FEFEFE;
  --smoke: #6E7376;
  --black: #0A0A0A;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border-left: 1px solid var(--smoke);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--black);
  border-radius: 0;
  border-bottom: 10px solid var(--smoke);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--white);
}

.hour {
  background-color: var(--white);
  color: var(--black);
  border-top: 1px dashed var(--smoke);
}

.past {
  background-color: var(--red);
  color: var(--white);
}

.present {
  background-color: var(--beige);
  color: var(--white);
}

.future {
  background-color: var(--green);
  color: var(--white);
}

.saveBtn {
  border-left: 1px solid var(--smoke);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--blue);
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

